{% extends "bootstrap/base.html" %}
{% block navbar %}
{{nav.top.render()}}

<html>
<style>
    div.container {
        text-align: center;
    }
</style>

<body>
    <div class="container">

        <h2 style="font-weight: bold; ">Hihi!
            <img
                src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/40/000000/external-chilli-mexico-icongeek26-linear-colour-icongeek26.png" />
        </h2>
        <p>I am Swaathy K, a 2nd year CSE student at VIT Chennai. <br>
            This site is a python - flask project that I made for fun,
            so there is definitely a lot of room for improvement xD. <br><br>
            Check out my other work : <br>
            A funky portfolio website I made, <a href="https://tinycoder2.github.io/pimbuOS/">pimbuOS</a> <br>
            My github profile, <a href="https://github.com/tinycoder2">@tinycoder2</a>
        </p>



        <br>
        <a href="https://icons8.com/">Icons by Icons8</a>



    </div>
</body>

</html>
{% endblock %}