{% extends "bootstrap/base.html" %}
{% block navbar %}
{{nav.top.render()}}

<html>
<style>
    div.container {
        text-align: center;
    }
</style>

<body>
    <div class="container">

        <h1 style="color:blue;">hello! welcome to my site!</h1>
        <p style="color:red;">convert youtube videos to mp3 or mp4 :D</p>

        <a href="/to_mp3" class="btn btn-outline-info" role="button">Convert to mp3</a>
        <a href="/to_mp4" class="btn btn-outline-info" role="button">Convert to mp4</a>



    </div>
</body>

</html>
{% endblock %}