{% extends "bootstrap/base.html" %}
{% block navbar %}
{{nav.top.render()}}

<html>
<style>
    div.container {
        text-align: center;
    }
</style>

<body>
    <div class="container">


        <h1 style="color:blue;">hello! welcome to my site!</h1>
        <p style="color:red;">convert youtube videos to mp4 :D</p>

        <form action="{{ url_for ('getInput') }}" method="POST">
            enter the url below<br>
            <p><input type="text" name="url" /></p>
            <p><input type="submit" value="submit" /></p>
            <p style="color:green;">check downloads folder after submitting</p>

        </form>
    </div>
</body>

</html>
{% endblock %}