{% extends "bootstrap/base.html" %}
{% block navbar %}
{{nav.top.render()}}

<html>
<style>
    div.container {
        text-align: center;
    }
</style>

<body>
    <div class="container">

        <h1 style="color:red;">{{return_message}}</h1>

        <form action="{{ url_for ('toMp3') }}" method="POST">
            <h3 style="font-weight: bold;">Enter the url below</h3>
            <p><input type="text" name="url" /></p>
            <a href="/" class="btn btn-primary" role="button">Home</a>
            <input type="reset" class="btn btn-primary" value="Reset">
            <input type="submit" class="btn btn-primary" value="Submit" /><br><br>
            
            <p>check downloads folder after submitting</p>

        </form>
    </div>
</body>

</html>
{% endblock %}