{% extends "bootstrap/base.html" %}
{% block navbar %}
{{nav.top.render()}}

<html>
<style>
    div.container {
        text-align: center;
    }
</style>

<body>
    <div class="container">

        <h1 style="color:red;">{{return_message}}</h1>

        <form action="{{ url_for ('toMp3') }}" method="POST">
            <h3>Enter the url below</h3>
            <p><input type="text" name="url" /></p>
            <input type="reset" value="Reset">
            <input type="submit" value="Submit" /><br><br>
            <p style="color:green;">check downloads folder after submitting</p>

        </form>
    </div>
</body>

</html>
{% endblock %}